<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-main">
        <div class="form-div">
            <div> LOGO </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="login-field">
                        <div>{{ field.name|capfirst}}:</div> 
                        <div>{{ field }}</div>
                    </div>
                    <div style="font-size: 12px;">{{ field.errors }}</div> 
                    {% endfor %}
                    <div class="login-errors">{{ form.non_field_errors }}</div>
                    
                    <div class="btn-con">
                        <button type="submit" class="login-submit"> Login </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
